<footer style="margin-top: 50px; padding: 20px; background-color: #0d1830; text-align: center; color: #35aa8f; border-top: 1px solid #35aa8f;">
  <p>&copy; 2024 SurakshitRahe. All rights reserved.</p>
</footer>

</body> 
</html>